*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 223, 201);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    height: 100px;
    width: 100%;
    background-color: rgb(205, 157, 98);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20%;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box{
    background-color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
}

#pbottom{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(184, 152, 214);
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}
.bubble:hover{
    background-color: rgb(129, 91, 165);
    cursor: pointer;
}